@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Saira+Semi+Condensed:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Neucha", cursive;
  font-family: "Saira Semi Condensed", sans-serif;
}

body {
  background: #212a35;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.regular {
  font-weight: 500;
  font-size: 16px;
}

.cv {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background: #1a7a0d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.cv .left_side {
  position: relative;
  background: #7ca8f2;
  font-size: 16px;
  padding: 20px;
}
.cv .right_side {
  position: relative;
  background: #54bfdb;
  padding: 40px;
}
.left_side .profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.profile .profilePhoto {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 40%;
  overflow: hidden;
}
.profile .profilePhoto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left_side .content {
  position: relative;
  align-items: center;
}
.content .content_item {
  padding-bottom: 15px;
}
.content .content_item .content_title {
  text-align: center;
  padding-bottom: 5px;
}
.content .content_item .content_title #username {
  font-size: 25px;
}
.content .content_item .content_list {
  padding-left: 25%;
}
.content_list .list_item {
  padding-bottom: 2px;
}
.content_list .list_item .icon {
  display: inline-block;
}
.content_list .list_item .data {
  display: inline-block;
  padding-left: 10px;
}
.content_item .content_table {
  table-layout: fixed;
  width: 100%;
  padding: 5px;
}
.content_item .content_table tr td {
  text-align: center;
  padding: 3px;
}
.content_item .content_table p {
  font-size: 12px;
}
.content_item .item {
  padding-bottom: 20px;
}
.item .item_name {
  font-weight: 700;
  padding-right: 10px;
}
.item .location,
.item .icon,
.item .dates {
  display: inline-block;
  font-size: 75%;
  padding-right: 3px;
}
.item .description li {
  padding-left: 10px;
}
.progress {
  position: relative;
  width: 100%;
  height: 6px;
  background: #adb2eb;
  display: block;
}
.progress span {
  position: relative;

  top: 0;
  left: 0;
  height: 100%;
  background: #5c6beb;
  display: block;
}
.right_side .content_item h2 {
  text-align: center;
  font-size: 22px;
}
.right_side .content_item {
  position: relative;
  align-items: center;
  padding-bottom: 25px;
}
